src/main/java/example/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="num1" type="xsd:int"/>
   <element name="num2" type="xsd:int"/>
   <element name="addReturn" type="xsd:int"/>
   <element name="num3" type="xsd:int"/>
   <element name="num4" type="xsd:int"/>
   <element name="subReturn" type="xsd:int"/>
   <element name="num5" type="xsd:int"/>
   <element name="num6" type="xsd:int"/>
   <element name="mulReturn" type="xsd:int"/>
   <element name="num7" type="xsd:int"/>
   <element name="num8" type="xsd:int"/>
   <element name="divReturn" type="xsd:int"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="divRequest">

      <wsdl:part element="impl:num7" name="num1"/>

      <wsdl:part element="impl:num8" name="num2"/>

   </wsdl:message>

   <wsdl:message name="mulRequest">

      <wsdl:part element="impl:num5" name="num1"/>

      <wsdl:part element="impl:num6" name="num2"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addReturn" name="addReturn"/>

   </wsdl:message>

   <wsdl:message name="mulResponse">

      <wsdl:part element="impl:mulReturn" name="mulReturn"/>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:num1" name="num1"/>

      <wsdl:part element="impl:num2" name="num2"/>

   </wsdl:message>

   <wsdl:message name="divResponse">

      <wsdl:part element="impl:divReturn" name="divReturn"/>

   </wsdl:message>

   <wsdl:message name="subRequest">

      <wsdl:part element="impl:num3" name="num1"/>

      <wsdl:part element="impl:num4" name="num2"/>

   </wsdl:message>

   <wsdl:message name="subResponse">

      <wsdl:part element="impl:subReturn" name="subReturn"/>

   </wsdl:message>

   <wsdl:portType name="Calculator">

      <wsdl:operation name="add" parameterOrder="num1 num2">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sub" parameterOrder="num1 num2">

         <wsdl:input message="impl:subRequest" name="subRequest"/>

         <wsdl:output message="impl:subResponse" name="subResponse"/>

      </wsdl:operation>

      <wsdl:operation name="mul" parameterOrder="num1 num2">

         <wsdl:input message="impl:mulRequest" name="mulRequest"/>

         <wsdl:output message="impl:mulResponse" name="mulResponse"/>

      </wsdl:operation>

      <wsdl:operation name="div" parameterOrder="num1 num2">

         <wsdl:input message="impl:divRequest" name="divRequest"/>

         <wsdl:output message="impl:divResponse" name="divResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculatorSoapBinding" type="impl:Calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sub">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mul">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mulRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mulResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="div">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorService">

      <wsdl:port binding="impl:CalculatorSoapBinding" name="Calculator">

         <wsdlsoap:address location="http://localhost:8080//services/example/Calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
